Abigail Cabunoc <abigail.cabunoc@gmail.com> <abigail.cabunoc@oicr.on.ca>
Erin Becker <erinstellabecker@gmail.com> ErinBecker <erinstellabecker@gmail.com>
Francois Michonneau <francois.michonneau@gmail.com> <francois.michonneau@gmail.Com>
Greg Wilson <gvwilson@software-carpentry.org> <gvwilson@third-bit.com>
Nick Young <nbay92@gmail.com> <nick.young@auckland.ac.nz>
Raniere Silva <raniere@rgaiacs.com> <raniere@ime.unicamp.br>
Raniere Silva <raniere@rgaiacs.com> <ra092767@ime.unicamp.br>
Rémi Emonet <remi.emonet@reverse--com.heeere> <twitwi@users.noreply.github.com>
Tracy Teal <tracyt@idyll.org> <tkteal@gmail.com>
April M. Wright <wright.aprilm@gmail.com>
Lisa Zilinski <chatvite@users.noreply.github.com>
Ryan E. Johnson <ryan.emerson.johnson@gmail.com>
Jessica Trelogan <j.trelogon@austin.utexas.edu>